{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [
          "defaults"
        ],
        "useBuiltIns": "usage",
        "corejs": "3.23",
        "debug": true
      }
    ],
    "babel-preset-typescript-vue3",
    "@babel/preset-typescript"
  ]
}
